*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}

html {
        /*background: url(../Public/Image/background.jpg) no-repeat center fixed;*/
        background-color: rgba(12, 14, 19, 1);
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
        font-family: sans-serif;
}

.nav-bar--position {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    padding-top: 50px;
}

.nav-bar--effect {
    transition: 0.5s;
}

.nav-bar a {
    padding: 20px;
    text-decoration: none;
    color: cyan;
    display: block;
    transition: 0.3s
}

.nav-bar a:hover, .offcanvas a:focus{
    color: white;
}

.nav-bar__closebtn--position {
    position: absolute;
    top: 0px;
    right: 20px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .nav-bar {padding-top: 10px;}
    .nav-bar a {font-size: 20px;}
}

.btn-menu--font {
    color: cyan;
    cursor: pointer;
}

.btn-menu-effect:hover {
    color: white;
    transition: 0.3s;
}

.main-content--position {
    height: 1200px;
}

.main-content--effect {
    transition: margin-left 0.5s;
}