* {
    padding: 0px;
    margin: 0px;
}

html { 
    /*background: url(../Public/Image/background.jpg) no-repeat center fixed;*/
    background-color: rgba(12, 14, 19, 1);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

header {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

header p {
    height: 50px;
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    color: cyan;
}

nav {
    height: 160px;
    width: 42%;
    margin: auto;
    margin-bottom: 5px;
    margin-bottom: 5px;
    background-color: rgba(12, 14, 19, 1);
}

nav #nav-list{
    list-style-type: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-size: 16px;
}

nav #nav-list li {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

nav #nav-list li a {
    text-decoration: none;
    color: cyan;
    display: block;
}

nav #nav-list li a:hover {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
}

#main-content {
    height: 1200px;
    width: 800px;
    margin: auto;
}

footer {
    height: 100px;
    width: 100%;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 20px;
    height: 30px;
    text-align: center;
    color: cyan;
    padding: 35px 0px 35px 0px;
}