* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 20px;
}
html {
    background: url("../../image/background.jpg") no-repeat center  center fixed;
    background-size: cover;
}

@media only screen and (max-width: 450px){
    * {
        font-size: 14px;
    }
}