#nav {
    /* size */
    height: 100%;
    width: 0;
    /* position */
    position: fixed;
    top: 50px;
    overflow-x: hidden;
    /* background */
    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 5px;
    /* magic */
    transition: 1s;
}

#nav a {
    text-decoration: none;    
    display: block;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    color: white;  
}

#nav a:hover {
    border-radius: 0px 5px 0px 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 800px){
    #nav a {
        font-size: 14px;
    }
}