.nav--size {
    height: 100%;
    width: 0;
}

.nav--position {
    position: fixed;
    overflow-x: hidden;
    top: 50px;
}

.nav--background {
    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
}

.nav--magic {
    transition: 1s;
}

#nav a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 0px 0px 20px 10px;
    padding: 5px;
}

#nav a:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 800px){
    #nav a {
        font-size: 14px;
    }
}