.btn-open-menu--size {
    height: 50px;
}

.btn-open-menu--position {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.btn-open-menu--background {
    background-color: rgba(0, 0, 0, 0);
}

.btn-open-menu--magic {
    transition: margin-left 1s;
}

#btn-open-menu p{
    font-size: 16px;
    color: cyan;
    margin-right: 95%; 
    padding-left: 5px;
    line-height: 50px;
}

#btn-open-menu p:hover {
    color: white;
    cursor: pointer;
}