.btn-open-menu--size {
    height: 50px;
}

.btn-open-menu--position {
    position: fixed;
    top: 0;
    width: 100%;
}

.btn-open-menu--background {
    background-color: rgba(0, 0, 0, 0);
}

#btn-open-menu span{
    color: white;
    line-height: 50px;
    padding: 10px;
}

#btn-open-menu span:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255,255, 255, 0.2);
}