.footer--size {
    height: 100px;
}

.footer--position {
    width: 100%;
}

.footer--background {
    background-color: rgba(0, 0, 0, 0.0);
}

.footer--magic {
    transition: margin-left 1s;
}

#footer p {
    color: cyan;
    line-height: 100px;
    text-align: center;
}