#footer {
    /* size */
    height: 200px;
    width: 100%;
    /* position */
    margin-top: 10px;
    padding-top: 20px;
    /* background */
    background-color: rgba(0, 0, 0, 0);
}

#footer p {
    text-align: center;
    line-height: 30px;
    color: white;
}